<head><title>Taste Magiq</title></head>
<!--The content below is only a placeholder and can be replaced.-->
  <nav>
    <img width="300" alt="Taste Magiq Logo" src="../assets/images/Taste_Magic.JPG">
    <div class="nav-options"><button>About Us</button></div>
    <div class="nav-options"><button>Menu</button></div>
    <div class="nav-options"><button>Order Now</button></div>
    <div class="nav-options"><button>Contact</button></div>
    <div class="nav-options"><button>Taste Magiq</button></div>
  </nav>
  <app-main-order></app-main-order>
  <app-user-order></app-user-order>
