
@media only screen and (min-width: 768px) {
  /* For desktop: */
/* You can add global styles to this file, and also import other style files */
body{
  background-color: #375E97;
  background-image: url("./assets/images/burger-home.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
}
button{
  padding: 50px 90px;
  font-size: 60px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
/*  background-color: inherit;*/
  border-bottom: 6px solid red;
  background-color: rgb(241, 232, 232);
  border-radius: 2.5px;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  text-decoration: none; 
}

button:hover{
    padding: 60px 100px;
    font-size: 75px;
    border-radius: 2px;
    color: rgb(248, 48, 72);
    background-color: rgb(12, 33, 92);
    text-decoration: underline;
}
}

/* You can add global styles to this file, and also import other style files */
body{
  background-color: #375E97;
  background-position: 50% 60%; 
  background-image: url("./assets/images/burger-home.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
}
button{
  padding: 10px 23px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border-bottom: 6px solid red;
  background-color: rgb(241, 232, 232);
  border: none;
  border-radius: 0.75px;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  text-decoration: underline; 
  border-style: solid;
  border-color: crimson;
}

button:hover{
    padding: 10px 23px;
    font-size: 15px;
    border-radius: 2px;
    color: black;
    background-color: inherit;
    border-radius: 0.3em;
    text-decoration: underline;
    border-style: solid;
    border-color: inherit;
}
