@media only screen and (min-width: 768px) {
  /* For desktop: */
.categories{
    
  border-style: solid;
  border-width: 5px;
  border-color: royalblue; 
    background-color: black;
    color: greenyellow;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  color: black;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

li{
    font-family: 'Kalam';
    list-style: none;
    font-size: 1.1em;
    font-weight: bold;
    color: greenyellow;
}
.badge{
    padding: 0.5em 0.5em 0.5em 0.5em;
}
}

.categories{
    
  border-style: solid;
  border-width: 2px;    
  background-color: black;
color: greenyellow;
  border-color: rgb(252, 253, 255); 
  color: black;
}

li{
    font-family: 'Kalam';
    list-style: none;
    font-size: 1.1em;
    font-weight: bold;
    color: greenyellow;
}
.badge{
    color: rgb(0, 0, 0);
    padding: 0.5em 0.2em 0.5em 0.2em;
}

.category_item{
    padding: 10px;
}
.cat_name{
    font-size: 1.5em;
    color: black;
}