
@media only screen and (min-width: 768px) {
  /* For desktop: */
ul{
    list-style: none;
}
li{
    padding: 10px 10px 10px 1px;
    font-family: 'Kalam';
    font-size:2em;
    text-align: center;
    color: rgb(185, 6, 0);
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}
li:hover{
    color: rgb(7, 65, 26);
}
}

/*For mobiles*/
ul{
    list-style: none;
}
li{
    padding: 5px 5px 5px 1px;
    font-family: 'Kalam';
    font-weight: bold;
    font-size:1em;
    text-align: center;
    color: rgb(0, 0, 0);
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}
li:hover{
    color: rgb(0, 105, 35);
}
