
@media only screen and (min-width: 768px) {
  /* For desktop: */
ul{
    list-style: none;
}
li{
    padding: 10px 10px 10px 1px;
    font-family: 'Kalam';
    font-size: 3em;
    text-align: center;
    background-color: brown;
    color: rgb(59, 253, 107);
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}
}

/*For mobiles*/
ul{
    list-style: none;
}
li{
    padding: 5px 5px 5px 1px;
    font-family: 'Kalam';
    font-weight: bold;
    font-size:2em;
    text-align: center;
    background-color: brown;
    color: rgb(59, 253, 107);
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}
