.contact{
    padding: 5px 5px 5px 1px;
    font-family: 'Kalam';
    font-size:1em;
    text-align: center;
    color: rgb(185, 6, 0);
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}
.contact:hover{
    color:rgb(7, 65, 26);
}

.phone-no{
  font-weight: bold;
  font-size: 1.7em;
  color: greenyellow;
  background-color: black;
}
.location{
  font-size: 1.1em;
  color: greenyellow;
  background-color: black;
}
.image-location{
  width: 350px;
  height: 450px;
}

.mapouter {
  position: center;
  padding-left: 8.5em;
  /* text-align: left; */
  height: 750px;
  width: 900px;
}
    
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 750px;
  align-items: left;
  width: 900px;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
.contact{
    padding: 10px 10px 10px 1px;
    font-family: 'Kalam';
    font-size:2em;
    text-align: center;
    color: rgb(185, 6, 0);
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}
.contact:hover{
    color:rgb(7, 65, 26);
}
.mapouter {
  position: center;
  padding-left: 8.5em;
  /* text-align: left; */
  height: 750px;
  width: 900px;
}
    
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 750px;
  width: 900px;
}

}