<!--The content below is only a placeholder and can be replaced.-->
<br><br><br>
<div class="head-nav">
      <button class="home-button" (click)="showHome()">
        HOME
      </button>
      <button class="home-button" (click)="showAbout()">
        ABOUT
      </button>
      <button class="home-button" (click)="showMenu()">
        MENU
      </button>
      <button class="home-button" (click)="showContact()">
        CONTACT
      </button>
      <div class="taste-magiq-img">
        <img src="../assets/images/Taste_Magic_burned.png" class="images" style="border-radius: 50%;  background-color: #ffffff;" alt="TasteMagiq">
      </div>
</div>
<div class="main-nav">
  <div class="announcement">
    We are temporarily CLOSED due to current situation. We will be back soon.
  </div>
  <div *ngIf = "currentState === states[0]">
    <app-home></app-home>
  </div>
  <div *ngIf="currentState === states[1]">
    <app-about></app-about>
  </div>
  <div *ngIf="currentState === states[2]">
    <app-contact></app-contact>
  </div>
  <div *ngIf="currentState === states[3]">
    <app-menu></app-menu>
  </div>
</div>
<div class="end-nav">
  <p class="end-name">TasteMagiq TM 2019</p>
  <div class="social-media">
    <button class="normal-button">
      <a href="https://www.facebook.com/TASTE-MAGIQ-2297436016992003/">
        <img src="../assets/images/facebook.jpg" alt="facebook" class="end-images">
      </a>
    </button>
  </div>
  <div class="social-media">
    <button class="normal-button">
      <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwiMyLfyuITkAhXBxYUKHSRiBG8QFjAAegQIBBAB&url=https%3A%2F%2Fwww.facebook.com%2Fpages%2Fcategory%2FProduct-Service%2FTASTE-MAGIQ-2297436016992003%2F&usg=AOvVaw2OPpXuTDnRTfqxquEE4IwL">
        <img src="../assets/images/instagram.png" class="end-images" alt="instagram">
      </a>
    </button>
  </div>
  <div class="social-media">
    <button (click)="copyMessage('7558855106')" value="Click to copy" class="normal-button">
      <img src="../assets/images/whatsapp.png" alt="whatsapp" class="end-images">
    </button>
  </div>
  <div class="social-media">
    <button (click)="copyMessage('magiqtaste@gmail.com')" value="Click to copy" class="normal-button">
      <img src="../assets/images/email.jpg" alt="Copy Email" class="end-images">
    </button>
  </div>
</div>