<!--The content below is only a placeholder and can be replaced.-->
<h1 class="header-name" style="text-align: center">
  <img src="../assets/images/Taste_Magic_burned.png" class="images" alt="TasteMagiq">
</h1>
<div class="head-nav">
      <button (click)="showHome()">
        HOME
      </button>
      <button (click)="showAbout()">
        ABOUT
      </button>
      <button (click)="showMenu()">
        MENU
      </button>
      <button (click)="showContact()">
        CONTACT
      </button>
</div>
<div class="main-nav">
  <div *ngIf = "currentState === states[0]">
    <app-home></app-home>
  </div>
  <div *ngIf="currentState === states[1]">
    <app-about></app-about>
  </div>
  <div *ngIf="currentState === states[2]">
    <app-contact></app-contact>
  </div>
  <div *ngIf="currentState === states[3]">
    <app-menu></app-menu>
  </div>
</div>
<div class="end-nav">
  <p class="end-name">TasteMagiq TM 2019</p>
  <div class="social-media">
    <a href="http://www.facebook.com">
      <img src="../assets/images/facebook.jpg" alt="facebook" class="end-images">
    </a>
  </div>
  <div class="social-media">
    <a href="http://www.instagram.com">
      <img src="../assets/images/instagram.png" class="end-images" alt="instagram">
    </a>
  </div>
  <div class="social-media">
    <a href="http://www.google.com">
      <img src="../assets/images/whatsapp.png" alt="whatsapp" class="end-images">
    </a>
  </div>
</div>