<link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
<br>

<marquee scrollamount="20" style='font-size: 2em; width: 100%; color: rgb(34, 228, 17);'><b>EXPERIENCE THE TASTE OF MAGIQ</b></marquee>
<br>

<br>
<div class="bubbles">
    <div class="bubble">
        <div class="bubble_info">
            {{ bubbles[0] }}
        </div>
    </div>
    <div class="empty-circle"></div>
    <div class="bubble2">
        <div class="bubble_info">
            {{ bubbles[1] }}
        </div>
    </div>
</div>
<div class="bubbles2">
    <div class="bubble3">
        <div class="bubble_info">
            {{ bubbles[2] }}
        </div>
    </div>
    <div class="empty-circle"></div>
    <div class="bubble4">
        <div class="bubble_info2">
            {{ bubbles[3] }}
        </div>
    </div>
</div>

<br>

<br>
<b>
    <marquee scrollamount="12" 
    style='font-size: 1.6em; width: 100%; height: 33px; color: #ebfa63fb; background-color: rgb(175, 4, 18);'>
        Special Offer : 20% off for students,
        Monday to Thursday</marquee>
</b>
<br>

<h2 class="information">
    We serve softees, ice creams, sundaes, falooda, milk shake, fruit juices, waffles, pizzas, burgers, thick shakes,
    garlic bread, french fries, chicken popcoren, chicken nuggets
</h2>
<br>
<h2 class="information">
    We serve with unmatched quality specially crafted by our experienced and talented master-chefs
</h2>
<br>
<b>
    <marquee scrollamount="13"
        style='font-size: 1.6em; width: 100%; height: 33px; color: #ebfa63fb; background-color: rgb(175, 4, 18);'>
        Medium Margarita pizza free with any large pizza order</marquee>
</b>
<br>

<ul>
    <li *ngFor="let info_ of home_info">
        <div class="info-back">
            {{  info_ }}
        </div>
    </li>
</ul>
